/* style overrides for the DBC kickoff pages */


#page-wrapper.kickoff{
    width: 960px;
    color: #444;
}

#block-nice-menus-1 {
  padding-left: 120px;
}

/* bump our sidebar width to accomodate background of circling cycles */
.kickoff #content {
    width: 70%;
    margin-left: 20px; /* LTR */ /* The width of .region-sidebar-first. */
    margin-right: -780px; /* LTR */ /* Negative value of #content's width + left margin. */
}

.kickoff .region-sidebar-second {
    float: left;
    width: 300px;
    margin-left: 660px;
    margin-right: -960px;
}

a {
  color: #027AC6;
}

.view-id-frontpage .node-sticky {
  background-color: #F0E68C;
  padding: 10px 10px 0 10px;
}

.view-id-frontpage .views-row {
  margin: 20px 0;
}

h2.node-title a {
  text-decoration: none;
  color: #333;
}

li.node-readmore a {
  text-transform: uppercase;
  text-decoration: none;
  color: #027AC6;
  font-size: .9em;
}

.node-sticky h2.node-title {
  font-size: 1.8em;
  line-height: 110%;
}

.kickoff #content .section {
    padding: 30px 30px 0 0;
}

.kickoff #block-system-main {
    margin-bottom: 0px;
}

.kickoff #site-name {
    padding: 0px 10px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.kickoff #site-name a {
    font-size: 72px;
    font-weight: bold;
    line-height: 72px;
    color: #F74728;
    padding-top: 24px;
    padding-bottom: 24px;
}

.kickoff #site-slogan {
    margin-left: 240px;
    font-size: 20px;
    line-height: 26px;
    color: #F74728;
    padding-right: 10px;
}

.kickoff .region-sidebar-first {
    width: 240px;
    margin-right: -240px;
}

/* only show kickoff menu on kickoff pages */
#navigation #block-menu-menu-kickoff { display: none; }
.kickoff #navigation #block-menu-menu-kickoff { display: block; }

#navigation ul li {
    border: 1px solid #000;
    padding: 6px 5px;
    margin: 0px 8px;
    list-style-type: none !important;
    list-style-image: none;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

#navigation ul li a {
    text-decoration: none;
}

#navigation h2 {
    display: none;
}

#navigation ul li.menu-447 {
    border-color: #fca42c;
}

#navigation ul li.menu-484 {
    border-color: #39bef2;
}

#navigation ul li.menu-443 {
    border-color: #23a161;
}

#navigation ul li.menu-448 {
    border-color: #374a99;
}

.kickoff div.content div.submitted {
    display: none;
}

.kickoff .form-item label {
    font-weight: normal;
}

.kickoff div.region-footer {
    background-color: white;
}

.kickoff div.region-footer .content {
    padding: 0px 10px;
}

.with-navigation #content {
    margin-top: 0;
}

#navigation {
    position: relative;
    bottom: 140px;
    left: 95px;
    font-size: 1.5em;
}

#logo {
    margin: 10px 0 0 -59px;
}

ul.nice-menu a, ul.nice-menu span {
  padding: 4px;
  display: block;
}

.view td {
    padding: 10px;
}

/* Responsive iFrame */
.responsive-iframe-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.responsive-iframe-container iframe,
.vresponsive-iframe-container object,
.vresponsive-iframe-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
